@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-sidebar-height {
  height: calc(100vh - 70px);
}

.custom-children-width {
  width: calc(100vw - 200px);
}

scrollable-container::-webkit-scrollbar {
  display: none;
}

.scrollable-container {
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.scrollable-container {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.custom-min-h {
  min-height: calc(100vh - 70px);
}

/* ================step indicator=============== */
.step-item:not(:first-child)::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #d1d5db; 
  right: 50%;
  top: 33.33%; 
  transform: translateY(-50%);
}

.step {
  width: 2rem; 
  height: 2rem; 
  display: flex;
  position: relative;
  font-size: 0.875rem;
  z-index: 10; 
  align-items: center;
  justify-content: center;
  border-radius: 9999px; 
  background-color: #d1d5db; 
  color: #ffffff; 
  font-weight: 600; 
}

.active .step {
  background-color: #1e40af; 
}

.complete .step {
  background-color: #1e40af; 
}

.complete small {
  color: #000000; 
}

.complete:not(:first-child)::before,
.active:not(:first-child)::before {
  background-color: #1e40af; 
}


.str-video{
  background-color: #000000;
  color: white;
  height: 60vh;
  width: 60vw;
  display: flex;
  min-width: 0;
  max-width: 100vw;
  flex-direction: column;
}


@media (min-width: 768px) {
  .custom-children-width {
    width: calc(100vw - 100px);
  }
}